<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <!-- You must use integral values for the "values". Use 0 for off, 1 for showing
      diagnostics on failed tests only, 2 for warn, 3 for info, and 4 for all data
      including screenshots on all tests (passed and failed) Default is 4.-->

      <add name = "EqtTraceLevel" value = "4" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key = "StopTestRunCallTimeoutInSeconds" value = "5"/>
    <add key = "LogSizeLimitsInMegs" value = "20"/>
    <add key = "CreateTraceListener" value = "no"/>
    <add key = "GetCollectorDataTimeout" value = "300"/>
    <add key = "EnableHtmlLogger" value = "true"/>
    <add key = "EnableSnapShotInfo" value = "true"/>
  </appSettings>
</configuration>